@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.feed {

  &__item {
    @include margin-bottom(1.5);
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 8px;

    @include breakpoint-md {
      @include margin-bottom(2);
      padding-left: 16px;
    }

    &:last-child {
      @include margin-bottom(.5);
    }

    &-title {
      font-size: $typographic-base-font-size * 1.6875;
      font-family: open-sans, sans-serif;
      @include line-height(1.2);
      @include margin-top(0);
      @include margin-bottom(0.5);
      padding-right: 15px;

      &-link {
        color: $color-base;

        &:hover,
        &:focus {
          color: $color-secondary;
          border-bottom: 1px solid $color-base;
        }

      }

    }

    &-description {
      font-size: $typographic-base-font-size;
      font-family: open-sans, sans-serif;
      @include line-height(1);
      @include margin-bottom(.75);
    }

    &-meta {
      &-time {
        font-size: 11px;
        color: #000;
        font-weight: normal;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-category {
        &-link {
          font-size: $typographic-small-font-size;
          color: $color-gray;
          font-family: droid-sans, sans-serif;

          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-primary;
          }

        }

      }

    }

    &-readmore {
      font-size: $typographic-base-font-size;
      color: $color-primary;

      &:hover,
      &:focus {
        color: $color-secondary;
        text-decoration: none;
        border-bottom: 1px solid $color-base;
      }

    }

  }

}