@charset "UTF-8";

@import "normalize-scss";
@import "base/generic";
@import "base/front-matter-styles";

.container {
  lost-center: $layout-width;
}

.devotionals {
    &__title {
        @include margin-top(3);
        @include margin-bottom(1);
        color: #0DA5CE;
        font-family: $typographic-font-family-titles-1;
      }
    
      &__title-img {
        width: 100px;
        height: 100px;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 50px;
        right: 80px;
        @include breakpoint-md {
          position: static;
        }
      }
}