@charset "UTF-8";

@import "normalize-scss";
@import "base/generic";
@import "base/front-matter-styles";

.devotionals {
    &__title {
        @include margin-top(2);
        @include margin-bottom(3);
        color: #0DA5CE;
        font-family: stencil-std, sans-serif;
      }
    
      &__title-img {
        width: 100px;
        height: 100px;
        display: inline-block;
        vertical-align: middle;
        padding-left: 20px;
      }
}