@charset "UTF-8";

@import "normalize-scss";
@import "base/generic";
@import "base/front-matter-styles";

.devotionals {
    &__title {
        @include margin-top(2);
        @include margin-bottom(2);
        color: #0DA5CE;
        font-family: stencil-std, sans-serif;
        @include breakpoint-md {
          @include margin-top(2);
          @include margin-bottom(3);
        }
      }
    
      &__title-img {
        width: 100px;
        height: 100px;
        display: inline-block;
        vertical-align: middle;
        padding-left: 20px;
        position: absolute;
        top: 50px;
        right: 80px;
        @include breakpoint-md {
          position: static;
        }
      }
}