
.post-image {
    img {
        display: block;
        border-radius: 20px;

    }
}

.post-image--inline-images {
    img {
        margin-bottom: 10px;
    }
    @include breakpoint-md {
        display: flex;
        img {
            flex: 48%;
            margin-right: 20px;
            margin-bottom: 0;
            height: 100%;
            width: 400px;
        }

    }
}

.post-image--left {
    float: left;
    width: 400px;
    padding-right: 40px;
}

.post-image--right {
    float: right;
    width: 400px;
    padding-left: 40px;
}