@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.site-nav {

    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    font-family: open-sans,sans-serif;
    background: #fff;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: 0 0 6px 1px #d1d1d1;
    z-index: 1200;
    height: auto;
    @media print {
        border-bottom: none;
        box-shadow: none;
        text-align: center;
    }

    &__bar {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: sticky;
        height: 55px;
        padding: 0 15px;
        lost-center: $layout-width;
    }

    &__container {
        height: 100%;
        margin: 0 auto;
        position: relative;       
    }
    
    &__title {

        align-self: flex-end;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        @include breakpoint-sm {
            left: 40%;
            top: 50%;
            transform: translate(-40%,-50%);
        }

        @media print {
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);

        }

        h1 {
            margin: 0;
            padding: 0;    
        }

        img { 
            display: inline-block;
            margin-left: 20px;
            vertical-align: middle;
            max-height: 40px; 
            width: 40px;
            border-radius: 50px;
            position: relative;
        }

        a {
            color: #0DA5CE;
            font-family: stencil-std,sans-serif;
            display: block;
            font-size: 1rem;
            @include breakpoint-md {
                font-size: 1.5rem;
            }
            font-weight: 600;
        }
    }
    
    &__menu {
        display: block;
    }

    &__search {
        display: none;
    }


}
