@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.content {
  max-width: $layout-post-single-width;
  padding: 0 15px;
  margin: 0 auto;

  &__title {
    font-size: $typographic-base-font-size * 1.75;
    line-height: $typographic-base-font-size * 2;
    font-family: stencil-std, sans-serif;    
    margin-left: auto;
    margin-right: auto;
    color: red;
    font-weight: 600;
    padding: 0 20px;
    text-align: center;
    @include line-height(1.65);
    @include margin-top(1);
    @include margin-bottom(0)
  }

  &__body {
    & h2 {
      @include margin-bottom(1.5); 
      font-size: 34px;    
    }

    & ul {
      list-style-type:disc;
      list-style-position: outside;
    }

    & ul li {
      @include margin-bottom(1);
    }

    & figure {
      @include margin-bottom(1);
    }

    & blockquote {
      border-left:5px dashed #ddd;
      padding: 0.5em 30px;
      @include margin-top(1.5);
      @include margin-bottom(1.5);
      text-align: left;
      font-size: 16px;
      strong {
        text-decoration: underline;
        text-transform: uppercase;
      }
      p {
        font-size: 20px;
        font-style: italic;
        letter-spacing: 1.5px;
        padding: 0 25px;
        color: #333;
        line-height: 24px;
      }
    }

    & a {
      text-decoration: underline
    }

    & * {
      max-width: $layout-post-width;
      margin-left: auto;
      margin-right: auto
    }

    & img {
      max-width: 100%;
    }

  }

}

@include breakpoint-md {
  .content {
    padding: 0;

    &__title {
      font-size: $typographic-base-font-size * 2.75;
      padding: 0;
      @include line-height(2.25);
      @include margin-top(1);
      @include margin-bottom(1)
    }

    &__body {
      font-size: $typographic-base-font-size * 1.125;
      @include line-height(1.125);
      @include margin-bottom(1.125);
      @include margin-top(2);

      & p {
        font-size: $typographic-base-font-size * 1.125;
        @include line-height(1.125);
        @include margin-bottom(1.125)
      }

    }

  }

}