@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  &__photo {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    background-clip: padding-box
  }

  &__title {
    font-size: $typographic-base-font-size * 1.125;
    font-weight: 600;
    text-align: center;
    @include line-height(1.125);
    @include margin(.25, 0, .1, 0);

    &-link {
      color: red;
      font-family: stencil-std, sans-serif;    

      &:hover,
      &:focus {
        color: $color-base
      }

    }

  }

  &__subtitle {
    color: $color-gray;
    font-family: droid-sans, sans-serif;
    @include line-height(1);
    @include margin-top(0);
    @include margin-bottom(1)
  }


  @include breakpoint-md {

    &__title {
      @include margin(.5, 0, .5, 0);
    }
  }

}