@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import './animations.scss';
  
.site-nav-menu {
    overflow: auto;
    background: #fff;
    z-index: 1000;
    position: relative;
    box-shadow: 0 0 6px 1px #d1d1d1;
    text-align: left;
    display: none;
    transition: 12s ease-in-out;

    &__body {
        lost-center: $layout-width;
        box-sizing: border-box;
        width: auto;
        height: 100vh;
    }

    &__left {
        @include margin-top(1);
    }

    &__right {
        @include margin-top(2);
        border-top: 1px solid #f2f2f2;
    }

    &__nav {
        list-style: none;
        margin: 10px 0 0 10px;
        list-style-position: inside;
        padding: 0;
    }

    &__nav-item {
        margin-bottom: 20px;
    }

    &__nav-link {
        color: #666;
        font-family: $typographic-font-family-titles-1;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 0;
        padding-bottom: 0;
        letter-spacing: 2px;
        display: flex;
        @include link-hover;
    }

    &__banner {
        margin: 25px auto 0;
        div {
            display: block;
        }
    }

    &__banner-link {
        @include sosTitle(24px,24px)
    }

    &__social {
         max-width: 300px;
         @include margin-top(1);
         a {
             margin: 0 10px;
         }
         div {
             text-align: left;
         }
    }

    &__site-bio {
        font-family: droid-sans, sans-serif;
        font-weight: bold;
        display: block;
        text-align: left;
        font-size: 20px;
        padding: 0 20px;
        @include margin-top(1.5);
        p {
            margin: 0;
            max-width: 300px;
            color: #999;
        }
    }

    &--expanded {
        display: block;
        animation: swing-in-left-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;    }

    &--collapsed {
        display: none;
        -webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
        animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
    }

    @include breakpoint-sm {

        &__nav-item {
            margin-bottom: 40px;
        }

        &__nav-link {
            font-size: 1.75rem;
        }
        &__body {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;     
        }
        &__left {
            flex: 1 0 45%;
            @include margin-top(1.5);
        }
        &__right {
            flex: 0 0 55%;
            @include margin-top(0);
            box-shadow: -3px 0 3px 0px #d1d1d1;
        }
        &__social {
            @include margin-top(2);         
        }
        &__site-bio {
            padding: 0 50px;
        }
        &__banner {
            padding: 0 50px;
            margin: 25px 0 0 0;
        }
    }
}