@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.verse-carousel {
    @media screen {
        position: relative;
        max-height: 300px;
        overflow: hidden;
    }    
    &__h2 {
        text-align: center;
        font-family: $typographic-font-family-titles-1;
        font-size: 20px;
        font-weight: bold;  
    }
}
