@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.page {
  @include margin-bottom(2);
  @include margin-top(0);

  &__sidebar {
    margin-bottom: 30px;
  }

  &__inner {
    padding: 25px 20px;
  }

  &__title {
    font-size: $typographic-base-font-size * 2.5;
    font-family: $typographic-font-family-titles-1;
    font-weight: 600;
    @include line-height(2);
    @include margin-top(2);
    @include margin-bottom(1.45);
  }

  &__body {
    font-size: $typographic-base-font-size;
    font-family: open-sans, sans-serif;
    @include line-height(1);
    @include margin(0, 0, 1);
  }

  &__sidebar-tagline {
    font-family: droid-sans, sans-serif;
    font-weight: bold;
    display: block;
    text-align: left;
    font-size: 19px;
    padding: 0 20px;
    color: #999;
    line-height: 21px;
    text-align: center;
  }

}

@include breakpoint-md {
  .page {

    &__inner {
      padding: 30px 20px;
    }
    &__sidebar {
      width: 200px;
      float: right;
      position: relative;
      top: 75px;
      margin-bottom: 0;
    }
  }
}

@include breakpoint-md {
  .page {
    &__inner {
      padding: 40px 0;
    }

  }

}