@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.menu {
  @include margin-bottom(1);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;    

    &-item {
      display: inline-flex;

      &-link {
        font-size: 11px;
        color: $typographic-base-font-color;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 45px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 45px;
        width: 180px;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #e6e6e6;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;

        &:hover,
        &:focus {
          color: $color-primary;
          border: 1px solid $color-primary;
        }

        &--active {
          color: #fff;
          background-color: $color-primary;
          pointer-events: none;
        }

      }

    }

  }

  @include breakpoint-md {
    &__list-item {
      display: block;
    }
  }

}