@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.banner {
  display: none;
  &__link {
    background-color: $color-primary;
  }
  &__img {
    max-width: 200px;
    display: block;
    margin: 20px auto;
  }
  @media print {
    display: none;
  }
  @include breakpoint-md {
    display: block;
    img {
      max-width: 100%;
    }
  }
}