@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.banner {
  &__link {
    background-color: red;
  }
  &__img {
    max-width: 200px;
    display: block;
    margin: 20px auto;
  }
  @media print {
    display: none;
  }
}