@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.devotional-card {
  @include margin-top(1);
  @include margin-bottom(1);
  padding: 24px 20px;
  color: #fff;
  background-color: $color-primary;
  box-shadow: 0 2px 4px 0 #00000014, 0 5px 15px 0 rgba(0,0,0,.05);
  box-sizing: border-box;

  &__subheader {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;
    margin: 0 0 8px;
    padding: 0;
  }

  @include breakpoint-md {
    @include margin-top(2);
    @include margin-bottom(2);
  }
}